In [1]:
import torch
import torch.nn as nn
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from torchvision import datasets
import torchvision.transforms as transforms
from torchvision.datasets import ImageFolder
import timm
from torchvision.models import resnet18, ResNet18_Weights

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

device = 'cuda' if torch.cuda.is_available() else 'cpu'
print(device)

cuda

In [2]:
df = pd.read_csv('map_clsloc.txt', sep=" ", names=["nwid", "id", "class"]).set_index('nwid')
mapping = df.to_dict()

In [3]:
data_dir = 'lim25-imagenet-image/'

In [4]:
class DILLEMADataset(Dataset):
    def __init__(self, data_dir, transform=None):
        self.data = ImageFolder(data_dir, transform=transform)
    
    def __len__(self):
        return len(self.data)
    
    def __getitem__(self, idx):
        return self.data[idx]
   
    @property
    def classes(self):
        return self.data.classes
    
    @property
    def imgs(self):
        return self.data.imgs
    
    @property
    def class_to_idx(self):
        return self.data.class_to_idx

In [5]:
preprocess = transforms.Compose([
    transforms.Resize(256),
    transforms.CenterCrop(224),
    transforms.ToTensor(),
    transforms.Normalize(mean=[0.485, 0.456, 0.406], std=[0.229, 0.224, 0.225]),
])

In [6]:
dataset = DILLEMADataset(
    data_dir=data_dir,
    transform=preprocess
)

In [7]:
len(dataset)

25000

In [8]:
image, label = dataset[50]
print(label, image.shape)
image

2 torch.Size([3, 224, 224])

tensor([[[-0.0629, -0.0801, -0.1314,  ...,  0.6906,  0.4508,  0.3823],
         [-0.1314, -0.1486, -0.2513,  ...,  0.9474,  0.5364,  0.3138],
         [-0.3027, -0.3369, -0.4397,  ...,  0.5193,  0.3823,  0.3823],
         ...,
         [ 1.7352,  1.7523,  1.7523,  ...,  0.3481,  0.0398,  0.0741],
         [ 1.7180,  1.7180,  1.7180,  ...,  0.4508, -0.0116,  0.0227],
         [ 1.7009,  1.7180,  1.7009,  ...,  0.5364, -0.0972, -0.2342]],

        [[ 0.5378,  0.5203,  0.4678,  ...,  1.0105,  0.8179,  0.7829],
         [ 0.4853,  0.4678,  0.3627,  ...,  1.2906,  0.8880,  0.6954],
         [ 0.3102,  0.2752,  0.1702,  ...,  0.8354,  0.7479,  0.7829],
         ...,
         [ 1.8859,  1.9034,  1.9034,  ...,  0.5028,  0.1877,  0.2227],
         [ 1.8683,  1.8683,  1.8683,  ...,  0.6078,  0.1352,  0.1702],
         [ 1.8508,  1.8683,  1.8508,  ...,  0.6954,  0.0476, -0.0749]],

        [[ 0.7751,  0.7576,  0.7054,  ...,  1.2631,  1.0017,  0.9494],
         [ 0.7228,  0.7054,  0.6008,  ...,  1.5245,  1.1237,  0.9145],
         [ 0.5485,  0.5136,  0.4091,  ...,  1.0888,  1.0191,  1.0365],
         ...,
         [ 2.1868,  2.2043,  2.2043,  ...,  0.8099,  0.4439,  0.4614],
         [ 2.1694,  2.1694,  2.1694,  ...,  0.8971,  0.3916,  0.4091],
         [ 2.1520,  2.1694,  2.1520,  ...,  0.9842,  0.3219,  0.1476]]])

In [9]:
idx_to_class = {v: k for k, v in dataset.class_to_idx.items()}

In [10]:
dataloader = DataLoader(dataset, batch_size=100, num_workers=8, shuffle=False)

In [11]:
for images, labels in dataloader:
    break
print(labels)

tensor([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3])

In [12]:
# Initialize model
weights = ResNet18_Weights.DEFAULT
model = resnet18(weights=weights)

In [13]:
def load_model(model, load_path):
    checkpoint = torch.load(load_path)
    model.load_state_dict(checkpoint['model_state_dict'])
    # optimizer.load_state_dict(checkpoint['optimizer_state_dict'])
    # epoch = checkpoint['epoch']
    
    return model

In [15]:
model = load_model(model, 'model_ckpt_4/model_89.pt')

In [16]:
y_pred = []
y_true = []
total_correct = 0
total_error = 0
total_datapoints = 0
model.to(device)
model.eval()
with torch.inference_mode():
    for inputs, labels in tqdm(dataloader, desc="Testing"):
            inputs, labels = inputs.to(device), labels.to(device)
            output = model(inputs)

            output = (torch.max(torch.exp(output), 1)[1]).data.cpu().numpy()
            y_pred.extend(output)

            labels = labels.data.cpu().numpy()
            y_true.extend(labels)
            
            correct_predictions = sum(output == labels).item()
            error_predictions = sum(output != labels).item()
            total_correct += correct_predictions
            total_error += error_predictions
            total_datapoints += len(inputs)

Testing:   0%|          | 0/250 [00:00<?, ?it/s]

In [20]:
print('accuracy: ', accuracy_score(y_true, y_pred))
print('total correct: ', total_correct)
print('total error: ', total_error)
print('total datapoints: ', total_datapoints)

accuracy:  0.9944
total correct:  24860
total error:  140
total datapoints:  25000

In [17]:
columns =['y_true', 'y_pred']
lst = []

for i in range(len(dataset)):
    true = y_true[i]
    pred = y_pred[i]
    lst.append([true, pred])
df_true_pred = pd.DataFrame(lst, columns=columns)
df_true_pred.to_excel("retrain_test_true_pred_ori_1.xlsx",
             sheet_name='Sheet_name_1') 
df_true_pred.head()

   y_true  y_pred
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0

In [18]:
df_true_pred = pd.read_excel("retrain_test_true_pred_ori_1.xlsx", sheet_name='Sheet_name_1', index_col=0) 
y_true = df_true_pred.iloc[:,0].tolist()
y_pred = df_true_pred.iloc[:,1].tolist()

In [19]:
print('accuracy: ', accuracy_score(y_true, y_pred))
print('precision: ', precision_score(y_true, y_pred, average="macro"))
print('recall: ', recall_score(y_true, y_pred, average="macro"))
print('f1: ', f1_score(y_true, y_pred, average="macro"))

accuracy:  0.9944
precision:  0.9946639926739926
recall:  0.9944000000000001
f1:  0.9944084834425924

In [21]:
cf_matrix = confusion_matrix(y_true, y_pred)

label_name = []
for label in ImageFolder(data_dir).class_to_idx.items():
    label_n = mapping['class'][label[0]]
    label_name.append(label_n)

In [22]:
df_cm = pd.DataFrame(cf_matrix, index = [i for i in label_name],
                     columns = [i for i in label_name])

df_cm.to_excel("cm_original_1.xlsx",
             sheet_name='Sheet_name_1')

In [23]:
import pandas as pd

excel_data_df = pd.read_excel("cm_original_1.xlsx", sheet_name='Sheet_name_1')

In [24]:
df_cm_percentage = pd.DataFrame(cf_matrix / np.sum(cf_matrix, axis=1)[:, None]*100, index = [i for i in label_name],
                     columns = [i for i in label_name])

df_cm_percentage.to_excel("cm_original_percentage_1.xlsx",
             sheet_name='Sheet_name_1')

In [25]:
excel_data_df.head()

,Unnamed: 0,tench,goldfish,great_white_shark,tiger_shark,hammerhead,electric_ray,stingray,cock,hen,...,buckeye,coral_fungus,agaric,gyromitra,stinkhorn,earthstar,hen-of-the-woods,bolete,ear,toilet_tissue
0,tench,22,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,goldfish,0,22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,great_white_shark,0,0,22,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,tiger_shark,0,0,2,19,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,hammerhead,0,0,1,2,21,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
columns =['label', 'name', 'pred', 'T/F']
lst = []

for i in range(len(dataset)):
    label = dataset.imgs[i][1]
    name = dataset.imgs[i][0]
    prediction = y_pred[i]
    if label == prediction:
        value = 'True'
    else :
        value = 'False'
    lst.append([label, name, prediction, value])

df_list = pd.DataFrame(lst, columns=columns)
df_list.to_excel("list_test_ori_1.xlsx",
             sheet_name='Sheet_name_1') 
df_list.head()

   label                                               name  pred    T/F
0      0  lim25-imagenet-image/n01440764/n01440764_10026...     0   True
1      0  lim25-imagenet-image/n01440764/n01440764_10027...     0   True
2      0  lim25-imagenet-image/n01440764/n01440764_10029...     0   True
3      0  lim25-imagenet-image/n01440764/n01440764_10040...     0   True
4      0  lim25-imagenet-image/n01440764/n01440764_10042...   389  False

### Testing Scratch

In [79]:
select_df = excel_data_df.loc[7:7, label_name]
select_df.head()

,tench,goldfish,great_white_shark,tiger_shark,hammerhead,electric_ray,stingray,cock,hen,ostrich,...,buckeye,coral_fungus,agaric,gyromitra,stinkhorn,earthstar,hen-of-the-woods,bolete,ear,toilet_tissue
7,0,0,0,0,0,0,0,23,1,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
label_name = []
for label in ImageFolder(data_dir).class_to_idx.items():
    label_n = mapping['class'][label[0]]
    label_name.append(label_n)

In [80]:
filter = (excel_data_df.loc[7:7,:] != 0).any()
df_sel = excel_data_df.loc[7:7, filter].rename(columns={'Unnamed: 0': ' '})
df_sel

         cock  hen  Irish_terrier
7  cock    23    1              1

In [83]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [84]:
for i in range(5):
    filter = (excel_data_df.loc[i:i,:] != 0).any()
    df_sel = excel_data_df.loc[i:i, filter].rename(columns={'Unnamed: 0': ' '})
    df_sel

          tench  barracouta  coho
0  tench     22           2     1

             goldfish  cicada  trifle  volcano
1  goldfish        22       1       1        1

                      great_white_shark  tiger_shark  grey_whale
2  great_white_shark                 22            2           1

                great_white_shark  tiger_shark  hammerhead  scuba_diver
3  tiger_shark                  2           19           2            2

               great_white_shark  tiger_shark  hammerhead  sturgeon
4  hammerhead                  1            2          21         1

In [24]:
from torchvision.datasets import ImageNet

# captions_folder = pathlib.Path("/home/ubuntu/imagenet-captions/")

dataset = ImageNet(root="/home/jovyan/work/dataset/ILSVRC2012")

In [25]:
len(dataset)

1281167